<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <a href="https://github.com/YuanXiQWQ/BCIT-COMP2537-Assignment2">
            <img src="/images/github-mark.svg" alt="GitHub" style="height: 40px;">
        </a>
    </div>
</footer>
