html, body {
  width: 100vw; !important;
  height: 100%;
  margin: 0; !important;
  padding: 0;
  }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

.navbar,header {
  width: 100%; !important;
  }

.container {
  flex: 1;
  }

.footer .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%; !important;
  }
